image: docker:stable-git

services:
  - docker:dind

stages:
- build

variables:
    CONTAINER_IMAGE: $CI_REGISTRY/docker/gitlabrunners/NativeScript
#    CONTAINER_IMAGE: registry.git.ryuu.technology/$CI_PROJECT_PATH

before_script:
- echo $CI_REGISTRY
- echo $CI_REGISTRY_IMAGE
- docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
- apt-get update && apt-get install -y git
- export TIME=$(git show -s --format=%ad --date=format:'%Y%m%d%H%M%S' $CI_COMMIT_SHA) 


build:
    stage: build
    script:
    - docker pull debian:latest
    - docker build --cache-from $CI_REGISTRY_IMAGE:latest --tag $CI_REGISTRY_IMAGE:$CI_BUILD_REF --tag $CI_REGISTRY_IMAGE:${TIME} --tag $CI_REGISTRY_IMAGE:latest .
    - docker push $CI_REGISTRY_IMAGE:$CI_BUILD_REF
    - docker push $CI_REGISTRY_IMAGE:${TIME}
    - docker push $CI_REGISTRY_IMAGE:latest
