image: docker:dind

services:
  - docker:dind

stages:
- build

variables:    
    VERSION_MAJOR: 0
    VERSION_MINOR: 0
    VERSION_PATCH: 0
    CONTAINER_IMAGE: $CI_REGISTRY/docker/gitlabrunners/NativeScript
#    CONTAINER_IMAGE: registry.git.ryuu.technology/$CI_PROJECT_PATH

before_script:
- export VERSION="${VERSION_MAJOR}.${VERSION_MINOR}.${VERSION_PATCH}-${CI_PIPELINE_ID}"
- echo $CI_REGISTRY
- echo $CI_REGISTRY_IMAGE
- echo $CI_JOB_TOKEN
- export DOCKER_HOST=tcp://172.17.0.1:1007
- echo "docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY"
- docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY


build:
    stage: build
    script:
    - docker pull debian:latest
    - docker build --cache-from $CI_REGISTRY_IMAGE:latest --tag $CI_REGISTRY_IMAGE:$VERSION --tag $CI_REGISTRY_IMAGE:latest .
    - echo "Due to an issue with BTRFS and NodeJS/NPM causing the Nativescript Installation to fail this will start the container and install Nativescript in /tmp (ext4)";
    - docker tag runner-build-$CI_BUILD_REF $CI_REGISTRY_IMAGE:$VERSION
    - docker tag runner-build-$CI_BUILD_REF $CI_REGISTRY_IMAGE:latest
    - docker push $CI_REGISTRY_IMAGE:$VERSION
    - docker push $CI_REGISTRY_IMAGE:latest
